<!DOCTYPE html>
<html lang="en">
<head>
    <title>error</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="../../public/img/weather.png">
    <script src="../../public/js/app.js"></script>
</head>
<body>
    <div class=""main_content>
        {{>header}}
        <p>{{errormsg}}</p>
    </div>

    {{>footer}}
</body>
</html>